# SqlAlchemy
    - É uma biblioteca de ORM;
    - Conexão fácil;
    - Mapemento de tabela com classe;
    - Resolve conflitos de tecnologias com paradigmas diferentes;
    - Tudo fique orientado a objetos.

In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
import pymysql

In [8]:
import urllib.parse

# dados para a conectar
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
#host = 127.0.0.1
port = 3306
database = 'projetodiario1'

# Sting para conectar
conection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}'

# Criando a conexão
engine = create_engine(conection_string)

# Query 
 
query_alunos = "SELECT * FROM aluno" 

# Cria um dataframe com a consulta sql
df_alunos = pd.read_sql(query_alunos,engine)

df_alunos

    id        ra            Nome  tempoestudo  rendafamiliar
0    1  00034549            None            0            NaN
1    2  00034547            None            0            NaN
2    3  00034549            None            0            NaN
3    4  00034550            None            0            NaN
4    5  00034551            None            0            NaN
..  ..       ...             ...          ...            ...
83  84  12345744    Xuxa Almeida           12         2700.0
84  85  12345745  Yuri Rodrigues           14         2900.0
85  86  12345746    Zilda Santos           16         3100.0
86  87  12345747      Alan Costa           11         2600.0
87  88  12345748    Bárbara Lima           13         2800.0

[88 rows x 5 columns]

# Bibliotecas do panda
    -Pandas (EDA - Análise Explotória de dados)
    -Sckit-Learn(Fundamentos de inteligência artificial)
    -Numpy (Matemática Complexa com abstração)

# Salvando o DataFrame
    - .csv
    - .xms
    - .jason
    - .sql
    - .html
    - .xml

In [9]:
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename,index=False)

In [11]:
# Crie uma nova celula que salve o dataframe no formato JSON
json_filename = 'alunos.json'
df_alunos.to_json(json_filename,index=False)